.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.formStyle {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 3rem;
}

input {
  margin-bottom: 15px;
  width: 100%;
  width: 20rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.submitBtn,
.backBtn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: small;
}

.submitBtn {
  background-color: #01ad79;
  margin-right: 1rem;
}

.submitBtn:hover {
  background-color: #43b8ae;
}

.backBtn {
  background-color: #0687f1;
}

.backBtn:hover {
  background-color: #52a8f3;
}
